<?xml version="1.0" encoding="utf-8"?>
<appSettings >
  <!-- Service Bus specific app setings for messaging connections -->
  <add key="Microsoft.ServiceBus.ConnectionString.Listen" value="your connectionstring goes here" />
  <add key="EventHubName" value="EventHubPath" />
  <add key="ServiceBus.Queue.Name" value="queue name" />
  <add key="ServiceBus.Queue.Connectionstring" value="your connectionstring goes here" />
  <!-- Azure Storage: iploperationresult -->
  <add key="AzureStorageConnectionString" value="your connectionstring goes here" />
  <add key="OperationStorageTable" value="table name" />
  <add key="DocDBEndPointUrl" value=""/>
  <add key="AuthorizationKey" value=""/>
  <add key="RuleDatabaseId" value=""/>
  <add key="RuleCollectionId" value=""/>
  <add key="jsonPath" value=""/>
  <add key="sqleventstoreConnection" value=""/>
</appSettings>