@model List<HealthAndAuditShared.AnalyseRuleset>

@{
    ViewBag.Title = "ListAll";
}

<h2>ListAll</h2>

@{
    foreach(var analyseRuleset in Model)
    {
        <div>@analyseRuleset.RuleName  <a href="/upsertrule/viewrule/@analyseRuleset.RuleID">Open</a></div>

    }
}