@model List<AnalyzeRule>

@{
    ViewBag.Title = "ListAll";
}

<h2>ListAll</h2>

@{
    foreach(var analyseRuleset in Model.OrderBy(x => x.ProgramName))
    {
        <div>@analyseRuleset.ProgramName : @analyseRuleset.RuleName  <a href="/upsertrule/viewrule/@analyseRuleset.RuleID">Open</a></div>

    }
}