@using Newtonsoft.Json
@model HealthAndAuditShared.AnalyseRuleset

@{
    ViewBag.Title = "ruleview";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/styles.css" />
    <script>
        function getDoc() {
            let inp = document.getElementById('docidinp');
            window.location = location.protocol + '//' + window.location.host + '/upsertrule/viewrule/' + inp.value;
        }
    </script>
</head>
<body>
    <div style="margin: 20px;">
        <h2>ruleview</h2>
        @using (Html.BeginForm("upsert", "UpsertRule", FormMethod.Post, new { }))
        {
            if (Model != null)
            {
                <div>
                    Viewing rule: @Model.RuleName for @Model.ApplicationName
                </div>
                <textarea name="serializedRule" style="margin: 0px; height: 300px; width: 500px;">@Html.Raw(JsonConvert.SerializeObject(Model).Replace(",\"", ",\r\n\""))</textarea>
            }
            <input type="submit" value="Update rule" />
        }
        <br />
        @if (ViewBag.pageException != null)
        {
            <div class="code">
                @Html.Raw(ViewBag.pageException)
            </div>
        }
    </div>
</body>
</html>