<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
  <!-- For local execution, the value can be set either in this config file or through environment variables -->
  <add name="AzureWebJobsDashboard" connectionString="your connectionstring goes here" />
  <add name="AzureWebJobsStorage" connectionString="your connectionstring goes here" />
  <add name="AzureWebJobsServiceBus" connectionString="your connectionstring goes here" />
</connectionStrings>